body {
  background-color: paleturquoise;  
  
  color: #ee82ee;
}

h1 {
  font-family: "Lucida Handwriting", Brush Script MT;
  
  font-size: 50px;
}

ul {
  font-family: "Courier New", Lucida Console, Monaco;
  
  font-size: 15px;
}










